
@mixin button ($color:#FCF6F2, $border-radius :2px, $background: #E18A7A,$text-alight :center,$font-weight:600, $font-size:14px,$line-height:16px ) {
    color: $color;
    border-radius: $border-radius;
    background: $background;
    font-weight:$font-weight;
    font-size:$font-size;
    line-height:$line-height;
    text-align: $text-alight;
}
@mixin title-h2 ($font-style:normal,$font-weight:bold, $font-size:56px,$line-height:75px)
{
    font-style:$font-style;
    font-weight:$font-weight;
    font-size:$font-size;
    line-height:$line-height;
}
@mixin title-h3 ($font-style:normal,$font-weight:normal, $font-size:32px,$line-height:43px)
{
    font-style:$font-style;
    font-weight:$font-weight;
    font-size:$font-size;
    line-height:$line-height;
}
@mixin paragraf ($font-family: 'Raleway' sans-serif,$font-style:normal,$font-weight:500px, $font-size:18px,$line-height:160%)
{
    font-family:$font-family;
    font-style:$font-style;
    font-weight:$font-weight;
    font-size:$font-size;
    line-height:$line-height;
}