
* {
    font-family: 'Playfair Display', serif;
}

.accordion {

    
  
    .accordion-button{
        background: #fcf6f2;
    }
    .accordion-body{
        background: #fcf6f2;
    }
    .nav{
        margin-bottom: 24px;
    }
}
.acordion-name{
    h2{
        font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 56px;
line-height: 75px;
margin-bottom: 68px;
color: #93706C;
    }
}
.title-acordion{
    button{
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 160%;

color: #93706C;
}}
.paragraf-acordion{
    font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
color: #93706C;

}
main{
    margin-top: 50px;
    margin-bottom: 200px;
}