* {
    font-family: 'Playfair Display', serif;
}

#pricelist-page {

    
.price_list{
    margin-top: 35px;
    margin-bottom: 92px;
    h2{
        font-weight: bold;
        font-size: 56px;
        line-height: 75px;
       color: #93706C;
        
     
 }
 
 }

.checklist{
    margin-bottom: 143px;
  

    .body-fonts{
        background:  #FCF6F2;

        .title-name{
            font-weight: normal;
        font-size: 32px;
        line-height: 43px;
        margin-top: 53px;
        margin-bottom: 48px;
        text-align: center;
        color: #93706C;
        }

        
.title-text{
    font-weight: bold;
font-size: 48px;
text-align: center;
color: #E18A7A;
padding-bottom: 48px;

}

.title-paragraf{
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #93706C;
    white-space: pre-line;
    margin-bottom: 80px;

}
       
    }
}



.btn-send{
    background: #E18A7A;
    border-radius: 2px;
    padding: 16px 42px;
    color: aliceblue;
    text-decoration: none;
    margin-left: 30%;
}



.pricelist-content{   
     display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 27px;
    align-items: center;
h6{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #93706C;
}
p{
    font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 43px;
color: #E18A7A;

}}

.price-infor{
    h3{
        font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 43px;
color: #93706C;
margin-bottom: 30px;

    }
    ul{
        li{
            
    margin-bottom: 30px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #93706C;
    
        }
    }
}
.price_services{
    margin-bottom: 70px;
}
.price-information{
    margin-bottom: 167px;
    h3{
        font-family: Playfair Display;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 43px;
        color: #93706C;

    }
}

}
